<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #FFEBCD;">
    <div class="container px-4 px-lg-5">
<div class="col-lg-7">
            <a  class="navbar-brand" routerLink=""><img
                    src="https://th.bing.com/th/id/R.3351b9f1c25535eeaac294c2cc497d4e?rik=NyBhPh6VnlxhOA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_208967.png&ehk=tOF%2bzKMbURqdWkKuNMWUKkljhSmEp3jcIGt8%2bqzmCrs%3d&risl=&pid=ImgRaw&r=0"
                    alt="site icon"> &nbsp;  <b>Shop Now</b> &nbsp;
                </a>

</div>            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <form class="d-flex">
                        <input type="text" class="form-control" placeholder="Search shop Now">
                    </form>
                </li>&nbsp;&nbsp;
                <li class="nav-item"><a class="nav-link" routerLink="products/wishlist"><i class="fa-regular fa-heart text-black"></i>
                       <b> Wishlist</b></a></li>
            </ul>
            <form class="d-flex">
                <a routerLink="products/cart" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </a>
            </form>
        </div>
    </div>
</nav>