<!-- Header-->
<header class="bg-light py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 style="font-family: 'Russo One', sans-serif;" class="display-4 fw-bolder text-dark animate__animated animate__backInRight">Enjoy Your Shopping</h1>
            <br>
            <br>
            <marquee class="lead fw-normal  mb-0 text-dark-50">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repudiandae obcaecati, corporis rem maiores enim, atque ea tenetur culpa, optio consequuntur odit nihil
                asperiores perferendis in ut quos provident ab incidunt Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Temporibus sapiente nemo perspiciatis voluptatibus. Ipsa illum, sequi earum, facere in
                eos ratione, excepturi perferendis eum dolorum deserunt exercitationem beatae perspiciatis iusto</marquee>
                <marquee direction="right" 
        behavior="alternate" 
        style="border:BLACK 2px SOLID">
       <b> Shop Now ...</b>
    </marquee>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="view-product/id">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>